/* Regular */
@font-face {
  font-family: 'Josefin';
  src: url('Fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

/* Bold */
@font-face {
  font-family: 'Josefin';
  src: url('Fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* Light */
@font-face {
  font-family: 'Josefin';
  src: url('Fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
}

/* Medium */
@font-face {
  font-family: 'Josefin';
  src: url('Fonts/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

/* SemiBold */
@font-face {
  font-family: 'Josefin';
  src: url('Fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

/* Thin */
@font-face {
  font-family: 'Josefin';
  src: url('Fonts/JosefinSans-Thin.ttf') format('truetype');
  font-weight: 100;
}

/* Italic Versions */
@font-face {
  font-family: 'Josefin';
  src: url('Fonts/JosefinSans-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Josefin';
  src: url('Fonts/JosefinSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
